{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "overrides": [{
        "files": "*.json",
        "options": {
            "printWidth": 99999999999999999
        }
    }]
}
