{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 99999999999999999
            }
        }
    ]
}
