# Fix line endings on Windows
init:
    - git config --global core.autocrlf true

# Test against this version of Node.js
environment:
    matrix:
        - node_version: '10'
        - node_version: '8'

platform:
    - x86
    - x64

# Install scripts. (runs after repo cloning)
install:
    # Get the latest stable version of Node.js or io.js
    - ps: Install-Product node $env:nodejs_version $env:platform
    - npm install

# Post-install test scripts.
test_script:
    # Output useful info for debugging.
    - node --version
    - npm --version
    # run tests
    - npm test

# Don't actually build.
build: off

# Set build version format here instead of in the admin panel.
version: '{build}'

matrix:
    fast_finish: true
